:root {
  --dark-color: #111;
  --light-color: #f3f3f3;
  --medium-color: #bbb;
  --border-color: #ddd;
  --main-color: #0074d9;
  --error-color: #ff4136;
  --border-radius: 6px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: var(--dark-color);
  font-family: sans-serif;
  color: var(--light-color);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 150px auto;
}

.form {
  padding: 20px;
  background-color: white;
  width: 400px;
  box-shadow: 0 5px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  margin: auto 20px;
}

.form h2{
  padding: 10px;
  text-align: center;
  color: var(--light-color);
  background-color: #103b61;
  margin-bottom: 90px;
  border-radius: 30px;
  font-size: 20px;
  width: 60%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
  margin: 0 auto 40px auto;
}

.form .form-fields{
  margin: 0 0 20px;
  display: flex;
  flex-direction: column;
}

.form label{
  display: block; 
  font-size: 10pt;
  color: #999;
  margin-left: 2px;
}

::placeholder{
  color: #999;
  font-size: 10pt;
}

.form input[type]{
  width: 100%;
  border: 1px solid var(--border-color);
  font-size: 18px;
  padding: 5px 10px;
  border-radius: var(--border-radius);
  transition: border 300ms ease-in-out;
}

.form input[type]:focus{
  border-color: #103b61;
}

.form button{
  border: none;
  background: var(--main-color);
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 700;
  color: var(--light-color);
  border-radius: var(--border-radius);
  transition: filter 300ms ease-in-out;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.form button:hover{
  background: rgb(26, 47, 105);
  transition: 0.4s;
}

.form .error-message{
  font-size: 9pt;
  padding: 5px 0;
  color: var(--error-color);
  font-style: italic;
  display: none; /* desabilita */
}

.form .show-error-message .error-message{
  display: block;
}

.form .show-error-message input[type]{
  border-color: var(--error-color);
}